.signinForm {
  height: 260px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

@media screen and (max-width: 470px) {
  .signinForm {
    position: relative;
    bottom: 35px;
  }
}

.fas {
  cursor: pointer;
}
