* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  background-color: #f9fff9;
}

h1 {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 72px;
  letter-spacing: 3px;
  color: #0a0a0a;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #0a0a0a;
}

p,
a,
span,
label,
i {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #0a0a0a;
}

ul,
li {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.7);
}

button {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar-track {
  background-color: #f9fff9;
}

::-webkit-scrollbar {
  width: 8px;
  background: #f3bef7;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #f3bef7;
}

/* [aria-label] {
  position: relative;
}

[aria-label]::after {
  content: attr(aria-label);
  display: none;
  position: absolute;
  top: 110%;
  z-index: 5000;
  pointer-events: none;
  padding: 2px 10px;
  text-decoration: none;
  font-size: 12px;
  border-radius: 5px;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
  border: 1px solid;
  color: rgba(0, 0, 0, 0.3);
  font-style: normal;
}

[aria-label]:hover::after {
  display: block;
} */
