* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
  background-color: #f9fff9;
}

h1 {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  font-size: 72px;
  letter-spacing: 3px;
  color: #0a0a0a;
  cursor: default;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #0a0a0a;
  cursor: default;
}

a,
span,
label,
i {
  font-family: 'Zen Kaku Gothic New', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #0a0a0a;
  text-decoration: none;
}

p {
  font-family: 'Slabo 27px', serif;
  margin: 0;
  padding: 0;
  color: #222222;
  letter-spacing: 1px;
  font-size: 14px;
  cursor: default;
}

@media screen and (max-width: 470px) {
  p {
    font-size: 18px;
  }
}

strong {
  color: #000;
  cursor: default;
}

ul,
li {
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.7);
}

button {
  font-family: 'IBM Plex Sans Condensed', sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar-track {
  background-color: #f9fff9;
}

::-webkit-scrollbar {
  width: 8px;
  background: #f3bef7;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #f3bef7;
}

/* success */
.Toastify__toast--success {
  border: 1px solid #c2d6c1 !important;
  border-radius: 3px !important;
  background: #f9fff9 !important;
}

/* body */
.Toastify__toast-body {
  color: #444c63;
  font-size: 14px;
  padding: 0px;
  width: 100%;
  font-weight: 400;
  letter-spacing: 3px;
}

.Toastify__close-button {
  position: relative !important;
  top: 2px !important;
  background-color: #f9fff9;
}

.Toastify__close-button:hover {
  border: 1px solid #c2d6c1 !important;
}

.Toastify__close-button--light {
  background-color: #f9fff9 !important;
}

.Toastify__close-button > svg {
  position: relative !important;
  top: 2px !important;
}

.Toastify__close-button > svg {
  color: black;
}

.Toastify__toast {
  box-shadow: none !important;
}
