.forgetPass {
  position: relative;
  bottom: 40px;
  left: 80px;
}

.forgetPass a {
  text-decoration: none;
  font-size: 14px;
  transition: all 0.1s ease-in-out;
}

.forgetPass a:hover {
  color: #6e6edb;
}

@media screen and (max-width: 960px) {
  .forgetPass {
    position: relative;
    bottom: 0px;
    left: 3px;
  }
}

@media screen and (max-width: 470px) {
  .forgetPass {
    position: relative;

    left: 3px;
  }
}
