button {
  width: 150px;
  height: 40px;
  border-radius: 5px;
  background-color: transparent;
  outline: none;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #f9fff9;
}

@media screen and (max-width: 470px) {
  button {
    position: relative;
    top: 0px;
    left: 85px;
  }
}
